/* BMI Calculator*/

 .bmi-calculator {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }

 .bmi-calculator h1 {
    font-size: 24px;
    margin-bottom: 20px;
 }

 .bmi-calculator label {
    font-weight: bold;
 }

 .bmi-calculator input[type='text'] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
 }

 .bmi-calculator button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
 }

 .bmi-calculator button:hover {
    background-color: #0056b3;
 }

 .bmi-result {
    margin-top: 20px;
    font-weight: bold;
 }

 .weightUnit {
   width: 100%;
   padding: 5px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }